div#graphs {
    background-color: #C0C0C0;
    /*border: black 1px solid;*/
    border-radius: 10px;
}

h2{
	color:black;
	font-size: 34px;
	/*font-family: sans-serif;*/
}

svg{
	position: absolute;
	float: left;
    left: 9%;
	width: 82%;
	height: 500px;
  background-color: #C0C0C0;
  border-radius: 10px;
}

.area {
  /*fill: steelblue;*/
  fill: none;
  stroke: steelblue ;
  clip-path: url(#clip);
}

.axis path,
.axis line {
  fill: none;
  stroke: #7A7A7A;
  shape-rendering: crispEdges;
}


.axis line {
	stroke: #A8A8A8;
}

.hideElem{
  opacity: 0.2;
}


.axis line.down {
	display: none;
}

.debug.post p {
word-wrap: break-word;
}


line.edge {
	stroke: #D1D1D1;
	opacity: 0.2;
	display: none;

}
.plots > circle {
	/*stroke-width: 1px;
	stroke: #888;
	*/
	opacity: 0.6;
}
.high > circle {
	stroke: #000000;
	stroke-width: 2px;
}
.high > line {
	stroke: #000000;
	stroke-width: 1px;
	opacity: 1;
	display: inherit;

}
.plots > circle.posts.positive {
	fill: green;
}
.plots > circle.posts.negative {
	fill: red;
}
.plots > circle.posts.neutral {
	fill: blue;
}


.plots > circle.posts.highlight {
	fill: #d7191c;
}

.plots > circle.posts.nohighlight {
	
}

.plots > circle.comment{
	fill: #01B1E9;
}

.plots > circle.comment.positive{
	fill: green;
}
.plots > circle.comment.negative{
	fill: red;
}
.plots > circle.comment.neutral{
	fill: blue;
}

.plots > circle.comment.highlight{
	fill: #d7191c;
}

.plots > circle.comment.nohighlight{

}

.legend rect {
	fill:#C0C0C0;
/*	stroke:black;
*/	opacity:0.8;
}

text.date_tick, text.label, .legend {
	font-size: 11px;
	font-family: sans-serif;
}

text.date_tick{
  text-transform: rotate(90);  
}


div#controls {
position: absolute;
float: left;
top: 430pt;
left: 9%;
width: 60%;
margin: auto;
padding: 10px;
}
div#fileSwitcher {
margin: auto;
padding: 20px;
}

select#files {
margin: auto;
display: block;
width: 200px;
height: 50px;
align-content: center;
}



div.switches {
display: inline;
float: left;
width: 200px;
}

/*
On of switch CSS and code taken from: http://proto.io/freebies/onoff/
*/

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #666666; border-radius: 5px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 20px; padding: 0; line-height: 20px;
    font-size: 12px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    /*background-color: #4FB560; color: #666666;*/
    background-color: #d7191c;
    color: #E2E2E2;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #F8F8F8; color: #666666;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 24px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #666666; border-radius: 5px;
    position: absolute; top: 0; bottom: 0; right: 42px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 100%);
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.d3-tip {
  line-height: 1;
  font-weight: normal;
  font-family: "sans-serif";
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.explain > text {
font-size: 10px;
color: #000000;
fill: #000000;
}